[Desktop Entry]
Type=Application
Name=Linxira Welcome
Name[zh_CN]=Linxira 欢迎中心
Exec=/usr/bin/linxira-welcome --autostart
Icon=linxira
Terminal=false
OnlyShowIn=KDE;
X-KDE-autostart-after=panel
